body {
    font-family: "Lato", sans-serif;
    background-color: lightgrey;
}
  
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.loginContainer {
    display: block;
    margin: 0 auto;
    border: none;
    box-shadow: 2px 4px 8px black;
    border-radius: 24px;
    width: 300px;
    background-color: #111;
}

.loginH1 {
    padding-top: 30px;
    text-align: center;
    color: white;
}

.loginInput {
    border: 0; 
    padding: 7px 0; 
    border-bottom: 1px solid #ccc;
    background: transparent;
    display: block;
    margin: auto;
    position: relative;
    color: white;
}

.loginInput:focus {
    border-color: #777;
    color: #000;
    background: transparent;
    outline: 0;
    transition: 1s;
    border-bottom-color: dodgerblue;
    color: black;
}

.loginInput:focus::placeholder {
    transition: 1s;
    color: dodgerblue;
}

.loginButton {
    display: block;
    margin: auto;
    position: relative;
    background-color: #00e6b4;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    color: black;
    padding: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.loginP {
    text-align: center;
    color: dodgerblue;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}